*,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-subtitle-1,
.text-subtitle-2,
.text-body-1,
.text-body-2,
.text-button,
.text-caption,
.text-overline {
  font-family: "Poppins", sans-serif !important;
}
::-webkit-scrollbar {
  border-radius: 8px;
  width: 8px;
  height: 8px; /* A altura só é vista quando a rolagem é horizontal */
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #b5b5b5;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 4px;
  height: 4px;
  background-color: #7f7f7f;
  border: 2px solid #b5b5b5;
}
